:host {
  display: flex;
  flex: 1;
}

mat-sidenav {
  width: 320px;
}

.mat-sidenav-end {
  padding: 16px;
  app-theme-picker {
    padding-top: 16px;
  }
}

.nav-item {
  cursor: pointer;
  padding: 8px;
}
