<div fxLayout="column" fxFlex>

  <md-sidenav-container fxFlex>
    <md-toolbar color="primary">
      <button md-button (click)="left_sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>

      <span fxHide.xs>Angular Material</span>

      <span fxFlex></span>

      <button md-button (click)="right_sidenav.toggle()">
        <md-icon>settings</md-icon>
      </button>

    </md-toolbar>
    <md-sidenav #left_sidenav align="start">
      <md-list>
        <md-list-item *ngFor="let nav of navigations" routerLink="{{nav.link}}" (click)="left_sidenav.close()" routerLinkActive="active" class="nav-item">
          <md-icon md-list-icon>{{nav.icon}}</md-icon>
          <h4 md-line>{{nav.name}}</h4>
        </md-list-item>

        <md-list-item class="nav-item" routerLink="/login">
          <md-icon md-list-icon>power</md-icon>
          <h4 md-line>Logout</h4>
        </md-list-item>
      </md-list>

    </md-sidenav>

    <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
      <router-outlet></router-outlet>
    </div>

    <md-sidenav #right_sidenav align="end">
        <app-theme-picker></app-theme-picker>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda consequuntur cum debitis deleniti eaque et illo ipsam iste labore modi, pariatur porro qui, repellendus sunt vel veritatis! Rerum, sed!</p>

    </md-sidenav>

  </md-sidenav-container>

</div>
