<div fxLayout="column" fxFlexFill>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #left_sidenav position="start">

      <mat-nav-list>

        <a class="nav-item"
           *ngFor="let nav of navigations"
           mat-list-item
           routerLink="{{nav.link}}"
           routerLinkActive="active"
           (click)="left_sidenav.close()">
          <mat-icon mat-list-icon routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
            {{nav.icon}}
          </mat-icon>
          <h4 mat-line >{{nav.name}}</h4>
        </a>
        <a mat-list-item
           routerLink="/login">
          <mat-icon mat-list-icon>power</mat-icon>
          <h4 mat-line>Logout</h4>
        </a>

      </mat-nav-list>

    </mat-sidenav>

    <div fxLayout="column" fxLayout.sm="column" fxFlex>
      <mat-toolbar color="primary">
        <button mat-button (click)="left_sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span fxHide.xs>Angular Material</span>

        <span fxFlex></span>

        <app-theme-picker></app-theme-picker>

        <button mat-button (click)="right_sidenav.toggle()">
          <mat-icon>settings</mat-icon>
        </button>

      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>

    <mat-sidenav #right_sidenav position="end">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda consequuntur cum debitis deleniti eaque et illo ipsam iste labore modi, pariatur porro qui, repellendus sunt vel veritatis! Rerum, sed!</p>
    </mat-sidenav>

  </mat-sidenav-container>

</div>
