<mat-card>
  <mat-card-content>
    <mat-icon svgIcon="avatars:{{selectedUser.avatar}}" class="avatar"></mat-icon>
    <h2>{{selectedUser.name}}</h2>
    <p>{{selectedUser.details}}</p>
  </mat-card-content>
</mat-card>

<mat-card fxFlex fxLayout="column" >
  <mat-slide-toggle [(ngModel)]="selectedUser.isAdmin">Is Admin?</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="selectedUser.isCool">Is Cool?</mat-slide-toggle>

  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of ['pizza', 'hotdog', 'bigos', 'schabowe']" [value]="food.value">
      {{ food }}
    </mat-option>
  </mat-select>
</mat-card>
