:host {
  display: flex;
  flex: 1;

  .panel-body {
    iframe {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .panel-title {
    margin: 0;
    padding: 0;
  }

  .drag-handler {
    cursor: pointer;
  }
}

h1 {
  font-size: 22px;
  padding: 0 20px;
  height: 50px;
  margin: 0;
}

.toolbar {
  position: relative;
  padding: 0 20px;
}

.widgetbar {
  width: 100%;
  position: relative;
  height: 100px;
  padding: 10px 0;
}

.main-content {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}

.panel-heading {
  display: inline-block;
  position: relative;
  width: 100%;
  top: 0;
}

.panel-body {
  overflow: hidden;
  padding: 0 10px 10px;
  position: absolute;
  top: 37px;
  bottom: 0;
  left: 0;
  right: 0;
}

.gridster-item-prototype {
  display: block;
  background-color: #afafaf;
  position: relative;
  float: left;
  z-index: 99;
  text-align: center;
  font-weight: bold;
  margin: 5px;
  width: 80px;
  height: 60px;

}

.gridster-item-prototype.is-over .gridster-item-inner {
  visibility: visible;
}

.ignore-events {
  pointer-events: none;
}
