<div fxLayout="column" fxFlexFill>

  <gridster [options]="gridsterOptions"
            [draggableOptions]="{ handlerClass: 'panel-heading' }"
            #gridster1
            fxLayoutGap="10px"
            style="max-width:100%; max-height: 100%; width: 100%; height:600px;">

    <gridster-item *ngFor="let widget of widgets"
                   [(x)]="widget.x"
                   [(y)]="widget.y"
                   [(w)]="widget.w"
                   [(h)]="widget.h">

      <div class="panel-heading">
        <h5 class="panel-title">{{ widget.title }}</h5>
      </div>


      <div class="body" style="display: flex; min-height: 100%">

        <p>
          <!--Position: {{gridster1?.item?.x}} x {{gridster1?.item?.y}}<br>-->
          <!--Size: {{widget.w}} x {{widget.h}}-->
          <!--{{gridster1 | json}}-->
        </p>

        <ngx-charts-advanced-pie-chart
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          (select)="onSelect($event)">
        </ngx-charts-advanced-pie-chart>

      </div>

    </gridster-item>

  </gridster>

</div>
