@import '~@angular/material/_theming.scss';
@include mat-core();

$light-primary: mat-palette($mat-blue);
$light-accent: mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent);

$dark-primary: mat-palette($mat-light-blue);
$dark-accent: mat-palette($mat-green);
$dark-blue: mat-dark-theme($dark-primary, $dark-accent);

@include angular-material-theme($dark-blue);

.dark-blue {
  @include angular-material-theme($dark-blue);

  .theme-bg {
    background-color: map_get($mat-dark-theme-background, background);
  }
}

.light-blue {
  @include angular-material-theme($light-theme);

  .theme-bg {
    background-color: map_get($mat-light-theme-background, background);
  }
}

.nav-item {
  cursor: pointer;
  padding: 8px;
  outline-color: transparent;
  &.active {
    color: map_get($dark-primary, 500) !important;
  }
}
